<div style="width: 72.5%; text-align: left; margin-left: auto; margin-right: auto;">
  <% if @articles.empty? && @magazines.empty? && @users.empty?%>
    <h1>No results found for "<%= @query_str %>"</h1>
  <% else %>
    <h1>Search results for "<%= @query_str %>"</h1>
  <% end %>
</div>
<% if !@articles.empty? %>
<div class="row grid">
  <h3>Articles</h3>
  <% @articles.each do|a| %>
  <figure class="effect-sadie">
    <img src="<%= a.image %>" alt="<%= a.title %>"/>
    <figcaption>
      <h2><span><%= a.title %></span></h2>
      <p><%= truncate(a.plain_body, :length => 80) %></p>
      <%= link_to 'View more', a %>
    </figcaption>
  </figure>
  <% end %>
</div>
<% end %>
<% if !@magazines.empty? %>
<div class="row grid">
  <h3>Magazines</h3>
  <% @magazines.each do|m| %>
  <figure class="effect-sadie">
    <img src="<%= m.image %>" alt="<%= m.name %>"/>
    <figcaption>
      <h2><span><%= m.name %></span></h2>
      <%= link_to 'View magazine', m %>
    </figcaption>
  </figure>
  <% end %>
</div>
<% end %>
<% if !@users.empty? %>
<% @count = 0 %>
<div class="row grid">
  <h3>People</h3>
  <div class="row">
  <% @users.each do|u| %>
    <% if @count % 4 == 0 %>
  </div>
  <br>
  <div class="row">
    <% end %>
    <div class="col-sm-3">
      <span><img style="width: 50px; height: 50px;" src="<%= u.avatar %>" alt="<%= u.firstname %>"/></span>
      <%= link_to u.firstname << " " << u.lastname, u%>
    </div>
    <% @count = @count + 1 %>
    <% end %>
  </div>
</div>
<% end %>
