<div class="comment">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="well">
<div class="row">
	 <!....This is the comment information.....>
  <font size="5" <i><b><%=h User.find(comment.user_id).firstname %> said:</b></i></font><br />
  <font size="3"><%=h comment.des %></font>
   <!....This is the check to see whether you are allowed to edit or delete a comment.....>
    <!....And thus showing the corresponding buttons or not .....>
  <% if can? :destroy, comment %>
  <%= link_to 'Delete', comment,
    :confirm => 'Are you sure?',
    :method => :delete %>
  <% end %>
  <% if can? :update, comment %>
    <%= link_to 'Edit', edit_comment_path(comment)%>
  <% end %>
  </div>
   <div class="row">
 	 <div class="col-md-1"></div>
 	 <div class="col-md-11">
   <!....This is where we loop to show all replies.....>
   <!....but only if the reply and the comment have the same comment id.....>
   <br />
  <% @replies.each do|r| %>
  <% if r.comment_id == comment.id %>
  <font size="4"><i><b><%=h User.find(r.user_id).firstname %> replied:</b></i></font><br />
  &nbsp;&nbsp;&nbsp;<%=h r.des %><br />
   <!....This is the check to see whether you are allowed to edit or delete a comment.....>
    <!....And thus showing the corresponding buttons or not .....>
  <% if can? :destroy, r %>
  <%= link_to 'Delete', r,
    :confirm => 'Are you sure?',
    :method => :delete %>
  <% end %>
  <% if can? :update, r %>
    <%= link_to 'Edit', edit_reply_path(r)%>
  <% end %>
	<% if can? :report, r %>
	<%= link_to 'Report',action: "report",controller: "replies",id: r.id,article_id: @article.id%>
	<% end %>
  <br />
  <br />
  <% end %>
  <% end %>
  <!....This is the form for creating a new reply.....>
  <% if can? :create, comment %>
  <%= form_for @reply do|f| %>

  <%= f.hidden_field :article_id, :value => comment.article_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :comment_id, :value => comment.id %>

    <%= f.text_area :des %>

    <%= f.submit "Add Reply" %>
  <% end %>
<% end %>
</div>
</div>
  </div>
  </div>
  <div class ="col-md-2"></div>
</div>
</div>
