<%= form_for @article, html: { multipart: true } do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editor">
  <div class="field">
    <%= f.label :title,"Article Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image,"Article Poster" %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.text_area :body,:class => "redactor", :rows => 40, :cols => 120%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
