<<<<<<< HEAD
<div class="row grid">
=======
<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
>>>>>>> master
    <% @articles.each do |article| %>

      <figure class="effect-sadie">
        <img src= <%= article.image%> alt="img02"/>
        <figcaption>
          <h2><%= article.title%></h2>
          <p>Demo text goes here until user clicks to read more.</p>
          <a <%= link_to 'Show', article %></a>
        </figcaption>
      </figure>

    <% end %>
<<<<<<< HEAD
  </div>
=======
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
>>>>>>> master
