<div class="post-container">
<!-- main image for the article setting image width & hight to not get out of the border if there is no image for the article a default one is set-->
	<div class="bk-img effect8" style="background-image: url(<%= @article.image %>);">
		<div class="wlayer">
			<br>
			<!-- this is the article info part -->
			<h2><%= @article.title %></h2>
			<h3><%= @user.firstname %> <%= @user.lastname %></h3>
			<h4><span class="fa fa-clock-o"</span> <%=  @article.created_at.to_s[0,10] %>
			<!-- this is the edit and delete buttons section. Using CanCan to check whether the user is able to edit or delete if yes the buttons are shown and if no the buttons are not, editing redirects to the edit page and the delete button asks if the user is sure he/she wants to delete then if the answer is yes the article is deleted -->
			<% if can? :update, @article %>
			<%= link_to ' <span class="fa fa-edit"></span>'.html_safe, edit_article_path(@article) %>
			<% end %>
			<% if can? :destroy, @article %>
			<%= link_to '<span class="fa fa-trash"></span>'.html_safe, article_path(@article),
		              method: :delete,
		              data: { confirm: 'Are you sure you want to delete this article?' } %>
			<% end %>
			</h4>
		</div>
	</div>
	<!-- this is the article section the article is simply put here and the limit size tag is simply for making sure that no image in the article is too big to be out of scope. col-md-8 is for handling layout-->
	<div class="row">
		<div class ="limitSize">
			<%= @article.body.html_safe %>
		</div>
	</div>
</div>
 <!....This is the part where we call all comments.....>

  <%= render :partial => 'comment', :collection => @article.comments %>

  <div class="col-md-2"></div>

   <!....This is the form for creating a new comment.....>
   <% if can? :create, @comment %>
<%= form_for @comment do|f| %>

  <%= f.hidden_field :article_id, :value => @article.id%>
  <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.text_area :des %>

    <%= f.submit "Add Comment" %>
  <% end %>
  <% end %>
