<% content_for :javascript_includes do %>
	<%= javascript_include_tag "dialog.js" %>
	<% end %>
	<div class="row">
		<!-- empty column for layouts -->
		<!-- main image for the article setting image width & hight to not get out of the border if there is no image for the article a default one is set-->
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<div class= "row" >
				<div class="polaroid">
					<p><%= @article.title.html_safe %></p>
					<img src= <%= @article.image %> height="420" width="550">
				</div>
			</div>
		</div>
		<!-- this is the article info part -->
		<div class="col-md-2">
			<br>
			<div class="col-md-offset-2">
				<%= awesome_share_buttons(@article) %>
					<div class= "row" >
					<p>Tags: <%= @article.tag_list %></p>
			</div>
				<h5 > By: </h5> <p><%= link_to  @user.firstname  , @user %>  </p>
				<h5> created at: </h5> <p> <%=  @article.created_at.to_s[0,10] %> </p>
				<% if @article.promoted %>
		<% else%>
			<% if can? :promotion , @article %>
				<%= form_for @article do|f| %>
					<% if can? :promotion_gold, @article %>
					<%= f.select :promotevalue, [[1000000,1000000],[2000000,200000],[3000000,3000000]] %>
						<% else %>
						<% if can? :promotion_silver, @article %>
					<%= f.select :promotevalue, [[10000,10000],[20000,20000],[30000,3000]] %>
						<% else%>
						<% if can? :promotion_bronze, @article %>
					<%= f.select :promotevalue, [[100,100],[200,200],[300,300]] %>
						<% end %>
						<% end %>
						<% end %>
					<%= f.hidden_field :promoted, :value => true%>
					<%= f.hidden_field :title, :value => @article.title%>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.hidden_field :id, :value => @article.id%>
					<%= f.hidden_field :image, :value => @article.image%>
					<%= f.submit "Promote Article" %>
			 	<% end %>
				<% end %>
				<% end %>
				<!-- this is the edit and delete buttons section. Using CanCan to check whether the user is able to edit or delete if yes the buttons are shown and if no the buttons are not, editing redirects to the edit page and the delete button asks if the user is sure he/she wants to delete then if the answer is yes the article is deleted -->
				<% if can? :update, @article %>
				<%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_article_path(@article), class: "btn btn-outlined btn-grey" %>
				<% end %>
				&nbsp; &nbsp;
				<% if can? :destroy, @article %>
				<%= link_to '<span class="fa fa-trash"></span>'.html_safe, article_path(@article),
				method: :delete,
				data: { confirm: 'Are you sure you want to delete this article?' }, class: "btn btn-outlined btn-grey" %>
				<% end %>
				<% if can? :bid, @article %>
				<header class="codrops-header">
					<div class="button-wrap"><a data-dialog="somedialog" class="trigger"><span class= "fa fa-money"> </span> </a></div>
				</header>
				<div id="somedialog" class="dialog">
					<div class="dialog__overlay"></div>
					<div class="dialog__content">
						<div class="morph-shape">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 560 280" preserveAspectRatio="none">
								<rect x="3" y="3" fill="none" width="556" height="276"/>
							</svg>
						</div>
						<div class="dialog-inner">
							<%= form_tag ({:controller => 'bids', :action => 'create', :article_id =>@article.id}) do %>
							<h2>Choose one of our standard forms</h2>
							<h5><%=radio_button_tag :offer1, 3, checked = true %>  3 cents/view</h5>
							<h5><%= radio_button_tag :offer1, 7 %> 7 cents/view</h5>
							<br>
							<h2>Send a custom offer</h2>
							<h5>	<%= number_field_tag :offer3, in: 1.0..20.0, step: 1.0 %>cents/view</h5>
							<h5>	title of add	<%= text_field_tag :title2 %> </h5>
							<button type="submit"> <font size="5"color=#0099FF><span class="fa fa-share-square-o"></span></font></button>	  <a class="action" type="" data-dialog-close><font size="5"color=#0099FF><span class="fa fa-times"></span></font></a><% end %>
						</div>
					</div>
				</div>
				<!-- Related demos -->
				<% end %>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<!-- this is the article section the article is simply put here and the limit size tag is simply for making sure that no image in the article is too big to be out of scope. col-md-8 is for handling layout-->
		<div class="col-md-8">
			<br>
			<div class ="limitSize">
				<p><font size="3"><%= @article.body.html_safe %></font></p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<% if @article.ad_title !=nil %>
	<div class ="row">
		<div class='col-md-2'></div>
		<%= @des %>

	</div>
	<%end %>

	<!--this is the part where user can like or unlike articles-->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">


			<div class="caption" style="text-align:center;">
				<% if can? :upvote, @article %>
				<%= @article.get_upvotes.size%> <%= link_to  '<span class="fa fa-thumbs-up">'.html_safe, like_article_path(@article),
				method: :put ,
				class: "like" %>
				<%else%>
				<%= @article.get_upvotes.size%> <span class="fa fa-thumbs-up">
					<%end %>


					<% if can? :downvote, @article %>
					<%= @article.get_downvotes.size%> <%= link_to  '<span class="fa fa-thumbs-down">'.html_safe, unlike_article_path(@article),
					method: :put ,
					class: "like" %>
					<%else%>
					<%= @article.get_downvotes.size%> <span class="fa fa-thumbs-down">
						<%end %>


					</div>
				</div>
			</div>

		</div>




	<%= render :partial => 'comment', :collection => @article.comments %>


	<div class="col-md-2"></div>
	<% if can? :create, @comment %>
		<%= form_for @comment do|f| %>
			<%= f.hidden_field :article_id, :value => @article.id%>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.text_area :des %>
			<%= f.submit "Add Comment" %>
			<% end %>
			<% end %>

			<script>
			(function() {

				var dlgtrigger = document.querySelector( '[data-dialog]' ),
				somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
				dlg = new DialogFx( somedialog );

				dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );

			})();
			</script>
