<!--styling the sign up form-->
<section>
<h2><center>Forgot your password?</center></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

   <ul class="input-list style-1 clearfix">
          
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
   
        </ul>
    <br>  

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class => 'btn btn-outlined btn-grey', 'data-wow-delay'=>'0.7s' %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

</section>