<p id="notice"><%= notice %></p>

<h1>Listing Magazines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Decription</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine| %>
      <tr>
        <td><%= magazine.name %></td>
        <td><%= magazine.decription %></td>
        <td><%= magazine.image %></td>
        <td><%= link_to 'Show', magazine %></td>
        <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
        <td> <% @articles.each do |article| %>
        <%= link_to 'New Article', magazine_article_path(article,magazine) %></td>
        <%end%>
        <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magazine', new_magazine_path %>
