<% if @join.present? %>
<%= flash[:notice] = "You have requested joining this magazine." %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @magazine.decription %>
</p>

<p>
  <strong>Image:</strong>
  <%= @magazine.image %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %> |
<! link to request joining magazine>
<%= link_to 'Join this magazine', action: "join" %>
