<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @magazine.decription %>
</p>

<p>
  <strong>Image:</strong>
  <%= @magazine.image %>
</p>

<!-- Author: Mayar
     Date: 5.4.2015
     Description: Check if user is authorized to update and add articles to magazine -->

<% if can? :update, @magazine %>
<%= link_to 'Edit', edit_magazine_path(@magazine) %> 
<%end%>
<!---------------------------->
<% if can? :update, @magazine %>
<% if can? :create, @article %> 
<%= form_for @article do|f| %>
    <%= f.hidden_field :magazine_id, :value => @magazine.id%>
<%= link_to "New Article",  new_article_form(@article) %>
<%end%>
<%end%>
<% end %>

