<p id="notice"><%= notice %></p>
<%= flash[:notice]%>
<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @magazine.decription %>
</p>

<p>
  <strong>Image:</strong>
  <%= @magazine.image %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %> |
<%= link_to 'Join this magazine', action: "join" %>
